@import 'public/assets/vars.scss';

ul{
    display: flex;
    list-style: none;
    margin-bottom: 20px;
    align-items: center;

    li a{
        text-decoration: none;
        color: $blue;
        display: block;
        padding: 10px;
        transition-duration: .3s;

        &:hover{
            color: $green;
        }
    }
}